<div class="grid-margin row">
  <div class="card col-sm-7">
      <div class="card-body">
        <h4 class="card-title">Surat Penawaran</h4>
        <p class="card-description text-danger">
          Informasi Dan Keterangan :
        </p>
        <div *ngIf="loading" class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="!loading">
          <form class="" [formGroup]="formGroup">
            <div class="form-group">
              <label class="col-form-label">Nomor Surat Penawaran</label>
              <div class="">
                  <input type="text" class="form-control form-control-lg" id="" placeholder="No Surat Penawaran" formControlName="no_surat_penawaran">
              </div>
            </div>
            <div class="form-group">
                <label class="col-form-label">Nama</label>
                <div class="">
                    <input type="text" class="form-control form-control-lg" id="" placeholder="Bapak/Ibu" formControlName="nama">
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label">Isi Surat Penawaran</label>
                <div class="">
                    <textarea type="textarea" rows="3" class="form-control form-control-lg" placeholder="Isi Surat" formControlName="ket_penawaran"></textarea>
                </div>
            </div>
          </form>
        </div>
      </div>
  </div>
  <div class="card col h-50 ml-md-3 ml-0 mt-3 mt-md-0">
      <div class="card-body">
        <h4 class="card-title">Action</h4>
        <p class="card-description">
          Preview, download, save form
        </p>
        <div *ngIf="loading" class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="p-1" *ngIf="!loading&&!id">
          <button class="btn btn-info w-100 my-2" (click)="storePenawaran(null)">Save</button>
          <button class="btn btn-info w-100 my-2" (click)="[storePenawaran('download')]">Download</button>
          <button class="btn btn-info w-100 my-2" (click)="[storePenawaran('view')]">View</button>
        </div>
        <div class="p-1" *ngIf="!loading&&id">
          <button class="btn btn-info w-100 my-2" (click)="editPenawaran()">Edit</button>
        </div>
      </div>
  </div>
</div>
<div class="grid-margin row">
  <div class="card col">
    <div class="card-body">
      <h4 class="card-title">Produk</h4>
      <p class="card-description text-danger">
        Produk dan Harga yang ditawarkan
      </p>
      <div></div>
      <div class="text-md-right text-sm-left my-3" *ngIf="!id">
        <button type="button" class="btn btn-info btn-sm" (click)="addNewDesk()">Tambah Penawaran<i class="mdi mdi-plus-circle-outline ml-1"></i></button>
      </div>
      <div *ngIf="loading" class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div *ngIf="!loading">
        <form [formGroup]="formGroup">
          <div  formArrayName="penawaran">
           <div  *ngFor="let item of penawaran_produk.controls ;let i=index">
             <div [formGroupName] = "i" class="row">
               <div class="form-group col-6">
                 <div class="">
                   <label class="">Produk yang ditawarkan</label>
                   <div class="">
                     <textarea type="textarea" rows="2" class="form-control form-control-lg" placeholder="produk yang ditawarkan" formControlName="penawaran"></textarea>
                   </div>
                 </div>
               </div>
               <div class="form-group col-4">
                 <div class="">
                   <label class="">Harga</label>
                   <div class="">
                     <input type="text" class="form-control form-control-lg" placeholder="Tagihan" formControlName="harga">
                   </div>
                 </div>
               </div>
               <div class=" form-group col-1 mt-4" *ngIf="!id">
                <button class="btn btn-danger btn-sm" (click)="removeDesk(i)">X</button>
               </div>
             </div>
           </div>
         </div>
         </form>
      </div>
    </div>
  </div>
</div>
