<div>
  <div class="grid-margin row">
    <div class="card col-sm-7 h-50">
      <div class="card-body">
        <h4 class="card-title">Tagihan</h4>
        <p class="card-description text-danger">
          Tagihan Untuk :
        </p>
        <div *ngIf="loading" class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="!loading">
          <form class="" [formGroup]="formGroup">
            <div class="form-group">
              <label for="" class=" col-form-label">Invoice</label>
              <div class="">
                <input type="text" class="form-control form-control-lg" formControlName="invoice"  readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="promo" class=" col-form-label">Nama</label>
              <div class="">
                <input type="text" class="form-control form-control-lg" placeholder="Nama" formControlName="nama">
              </div>
            </div>
            <div class="form-group">
              <label class=" col-form-label">Alamat</label>
              <div class="">
                <textarea type="textarea" rows="3" class="form-control form-control-lg" placeholder="Alamat" formControlName="alamat"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card col-md h-50 ml-md-3 ml-0 mt-3 mt-md-0 d-none d-md-block">
      <div class="card-body">
        <h4 class="card-title">Action</h4>
        <p class="card-description">
          Preview, download, save form
        </p>
        <div class="p-1">
          <div *ngIf="loading" class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
         <div *ngIf="!loading">
          <button *ngIf="!id" class="btn btn-info w-100 my-2" (click)="storeInvoice(null)"><i class="mdi mdi-18px mdi-content-save menu-icon"></i>&nbsp;Save</button>
          <button  *ngIf="id" class="btn btn-info w-100 my-2" (click)="editInvoice()" ><i class="mdi mdi-18px mdi-border-color menu-icon"></i>&nbsp;Edit</button>
          <button *ngIf="!id" class="btn btn-info w-100 my-2" (click)="[storeInvoice('download')]"><i class="mdi mdi-18px mdi-download menu-icon"></i>&nbsp;Download</button>
          <button *ngIf="!id" class="btn btn-info w-100 my-2" (click)="[storeInvoice('view')]"><i class="mdi mdi-18px mdi-eye menu-icon"></i>&nbsp;View</button>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-margin row">
    <div class="card col">
      <div class="card-body">
        <h4 class="card-title">Detail Tagihan</h4>
        <p class="card-description text-danger">
          deskripsi dan total tagihan :
        </p>
        <div *ngIf="id"></div>
        <div class="text-md-right text-sm-left my-3">
          <button type="button" class="btn btn-info btn-sm" (click)="addNewDesk()">Tambah Tagihan<i class="mdi mdi-plus-circle-outline ml-1"></i></button>
        </div>
        <div *ngIf="loading" class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="!loading">
          <form [formGroup]="formGroup">
            <div formArrayName="tagihan">
             <div *ngFor="let item of tagihan.controls ;let i=index">
               <div [formGroupName] = "i" class="row">
                 <div class="form-group col-6">
                   <div class="">
                     <label class="">Deskripsi</label>
                     <div class="">
                       <textarea type="textarea" rows="2" class="form-control form-control-lg" placeholder="Deskripsi Tagihan" formControlName="deskripsi_tagihan"></textarea>
                     </div>
                   </div>
                 </div>
                 <div class="form-group col-4">
                   <div class="">
                     <label class="">Total</label>
                     <div class="">
                       <input type="text" class="form-control form-control-lg" placeholder="Tagihan" formControlName="tagihan">
                     </div>
                   </div>
                 </div>
                 <div class=" form-group col-1 mt-4">
                  <button class="btn btn-danger btn-sm" (click)="removeDesk(i)">X</button>
                 </div>
               </div>
             </div>
           </div>
           </form>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-margin row">
    <div class="card col d-md-none h-50 ml-md-3 ml-0 mt-3 mt-md-0">
      <div class="card-body">
        <h4 class="card-title">Action</h4>
        <p class="card-description">
          Preview, download, save form
        </p>
        <div class="p-1">
          <div *ngIf="loading" class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
         <div *ngIf="!loading">
          <button *ngIf="!id" class="btn btn-info w-100 my-2" (click)="storeInvoice(null)"><i class="mdi mdi-18px mdi-content-save menu-icon"></i>&nbsp;Save</button>
          <button  *ngIf="id" class="btn btn-info w-100 my-2" (click)="editInvoice()" ><i class="mdi mdi-18px mdi-border-color menu-icon"></i>&nbsp;Edit</button>
          <button *ngIf="!id" class="btn btn-info w-100 my-2" (click)="[storeInvoice('download')]"><i class="mdi mdi-18px mdi-download menu-icon"></i>&nbsp;Download</button>
          <button *ngIf="!id" class="btn btn-info w-100 my-2" (click)="[storeInvoice('view')]"><i class="mdi mdi-18px mdi-eye menu-icon"></i>&nbsp;View</button>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
