<div *ngIf="loading" class="spinner-border text-secpndary d-block m-auto" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!loading">
  <div *ngIf="!info">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-info text-white mr-2">
          <i class="mdi mdi-home"></i>
        </span>
       dashboard
      </h3>
    </div>
    <div class="row mb-5">
      <div class="col">
        <div class="card p-3">
          <h1 class="card-title text-center">Silahkan Isi Data Perusahaan</h1>
          <button class="btn btn-sm btn-info Menu p-2 d-block mx-auto mt-3">Set Info Perusahaan&nbsp;<i class="mdi mdi-arrow-right mdi-18px float-lg-right"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="info">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-info text-white mr-2">
          <i class="mdi mdi-home"></i>
        </span>
        Office {{ info.data.nama_perusahaan }}
      </h3>
    </div>
    <div class="row">
      <div class="col">
        <div class="card stretch-card grid-margin p-0">
          <div class="card-body" *ngIf="!loading">
            <div class="">
              <img class="d-block m-auto img-fluid" style="width: 100px;" src="{{ logo }}" alt="logo {{ info.data.nama_perusahaan }}">
            </div>
            <h2 class="text-center mt-2">{{ info.data.nama_perusahaan }}</h2>
            <div class="card-text text-center my-3">{{ info.data.alamat }}</div>
            <div class="card-text text-center">No Telpon : {{ info.data.phone }}</div>
            <button class="btn btn-sm btn-info Menu p-2 d-block mx-auto mt-3" [routerLink]="['/pages/info-perusahaan']" routerLinkActive="router-link-active" >Ubah Info Perusahaan&nbsp;<i class="mdi mdi-arrow-right mdi-18px float-lg-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 stretch-card grid-margin" routerLink="/pages/form-penawaran" type="button">
      <div class="card bg-gradient-danger card-img-holder text-white Menu">
        <div class="card-body d-flex flex-column">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
          <h4 class="font-weight-normal">Surat Penawaran
            <i class="mdi mdi-jira mdi-24px float-right"></i>
          </h4>
          <h6 class="card-text mt-auto"><span class="text-wrap">Buat Surat Penawaran</span>
            <i class="mdi mdi-arrow-right mdi-18px float-lg-right"></i>
          </h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin" routerLink="/pages/form-akad" type="button">
      <div class="card bg-gradient-info card-img-holder text-white Menu">
        <div class="card-body d-flex flex-column">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
          <h4 class="font-weight-normal mb-3">Surat Akad
            <i class="mdi mdi-handshake mdi-24px float-right"></i>
          </h4>
          <h6 class="card-text mt-auto"><span style="width: 50px;">Buat Surat Akad</span>
            <i class="mdi mdi-arrow-right mdi-18px float-lg-right"></i>
          </h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin" routerLink="/pages/form-invoice" type="button">
      <div class="card bg-gradient-success card-img-holder text-white Menu">
        <div class="card-body d-flex flex-column">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
          <h4 class="font-weight-normal mb-3">Invoice
            <i class="mdi mdi-receipt mdi-24px float-right"></i>
          </h4>
          <h6 class="card-text mt-auto "><span class="text-wrap">Buat Invoice</span>
            <i class="mdi mdi-arrow-right mdi-18px float-lg-right"></i>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

